/* Barlow Condensed */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
/* Yeseva One */
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
/* Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


:root {
  --neutral: #f5f1ea;
  --moss: #c6b777;
  --hover: #c4bc99;
}

body {
  background-color: var(--neutral);
}

header {
  background-color: var(--moss);
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
}

.headerLinks {
 padding: 25px;
 font-family: Work Sans;
 text-decoration: none;
 color: black;
 font-size: 25px;
}

.headerLinks:hover {
  background-color: var(--hover);
  border-radius: 25px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

#mainHeadline {
  font-family: Yeseva One;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0%;
  font-size: 70px;
}

.mainDate {
  font-family: Work Sans;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.countdown {
  margin-top: 0%;
  margin-bottom: 15px;
}

.countdownText {
  color: black;
  font-family: Work Sans;
  font-size: 25px;
  font-style: italic;
}

footer {
  padding: 15px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: #e5e1d5;
}

#footerText {
  color:#c4bc99;
  font-family: Yeseva One;

}

.pageTitles {
  display: flex;
  color: black;
  justify-content: center;
  font-family: Work Sans;
  font-size: 30px;
}

.squadContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#groomsmen {
  
  margin-left: -6%;
}
#bridesmaids {
  
  margin-right: -6%;
}

.eachPerson {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indivPhoto {
  border-radius: 25px;
  margin-bottom: 2%;
}

.containerText {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: -8%;
}

.weddingRole {
  font-family: Barlow Condensed;
  font-size: 25px;
  margin-top: 0%;
}

.anecdotes {
  font-family: Barlow Condensed;
  font-size: 18px;
  display: flex;
  align-self: center;
  margin-top: -2%;
  padding-left: 200px;
  padding-right: 200px;
}

.nameTitle {
  font-family: Yeseva One;
  font-size: 35px;
}




  
